* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
}

.hero {
    max-width: 1920px;
    min-height: 1020px;
    background-image: url("img/hero_image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
}

.hero__header {
    max-width: 1680px;
    margin: 0;
    padding: 20px 0 20px 0;
    top: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 152px;
    height: 24px;
    flex-shrink: 0;
}

.header__log:focus {
    outline: none;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 44px;
}

.header__nav-link {
    color: var(--Secondary, #375360);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.header__nav-link:hover {
    color: var(--Brand-Primary, #052838);
}

.header__nav-link--active {
    text-decoration: underline;
    text-underline-offset: 4px;
}


.header__phone {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 12px;
    justify-content: center;
    gap: 12px;
    border-radius: 12px;
    background: var(--Brand-Primary, #052838);
}

.header__phone-icon {
    width: 24px;
    height: 24px;
}

.header__phone-text {
    color: var(--Grayscale-000, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.hero__content {
    display: flex;
    width: 788px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 226px;
    margin-bottom: 310px;
}

.hero__title {
    color: var(--Brand-Primary, #052838);
    font-family: Outfit;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 110px;
    padding-bottom: 20px;
}

.hero__text {
    color: var(--Secondary, #375360);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    align-self: stretch;
    padding-bottom: 40px;
}

.hero__button {
    display: flex;
    width: 260px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: var(--Brand-Primary, #052838);
    color: #ffffff;
}

.about {
    padding: 120px;
}

.about__container {
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 64px;
}

.about__content {
    gap: 28px;
    flex: 1;
}

.about__title {
    min-width: 400px;
    max-width: 488px;
    align-self: stretch;
    color: var(--Brand-Primary, #052838);
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.about__text {
    margin-top: 28px;
    margin-bottom: 28px;
}

.about__paragraph {
    color: var(--Secondary, #375360);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    align-self: stretch;
    margin-bottom: 20px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__image-wrapper {
    flex: 1;
    min-width: 0;
}

.about__image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}

.portfolio {
    padding: 120px;
    overflow: visible;
}

.portfolio__container {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}

.portfolio__head {
    display: flex;

    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 60px;
}

.portfolio__title {
    align-self: stretch;
    color: var(--Brand-Primary, #052838);
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.portfolio__text {
    max-width: 700px;
    align-self: stretch;
    color: var(--Secondary, #375360);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.portfolio__slider {
    position: relative;
    display: block;
    overflow: visible;
}

.portfolio__viewport {
    overflow: hidden;
    width: 100%;
}

.portfolio__track {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.portfolio__card,
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    width: calc((100% - 60px) / 3);
    min-width: calc((100% - 60px) / 3);
    flex-shrink: 0;
}

.card1 {
    display: flex;

    height: 544px;
    padding-top: 400px;
    justify-content: center;
    align-items: last baseline;
    border-radius: 12px;
    background: url(img/Project\ card1.png) lightgray 50% / cover no-repeat;
}

.card2 {
    display: flex;

    height: 544px;
    padding-top: 400px;
    justify-content: center;
    align-items: last baseline;
    border-radius: 12px;
    background: url(img/Project\ card2.png) lightgray 50% / cover no-repeat;
}

.card3 {
    display: flex;

    height: 544px;
    padding-top: 400px;
    justify-content: center;
    align-items: last baseline;
    border-radius: 12px;
    background: url(img/Project\ card3.png) lightgray 50% / cover no-repeat;
}

.card4 {
    display: flex;
    height: 544px;
    padding-top: 400px;
    justify-content: center;
    align-items: last baseline;
    border-radius: 12px;
    background: url(img/Project\ card4.jpg) lightgray 50% / cover no-repeat;
}

.card5 {
    display: flex;
    height: 544px;
    padding-top: 400px;
    justify-content: center;
    align-items: last baseline;
    border-radius: 12px;
    background: url(img/Project\ card5.jpg) lightgray 50% / cover no-repeat;
}

.card6 {
    display: flex;
    height: 544px;
    padding-top: 400px;
    justify-content: center;
    align-items: last baseline;
    border-radius: 12px;
    background: url(img/Project\ card6.jpg) lightgray 50% / cover no-repeat;
}

.portfolio__track {
    transition: transform 0.5s ease;
}

.card__content {
    width: 100%;
    display: flex;

    height: 144px;
    padding: 20px 24px 44px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    background: var(--Brand-Primary, #052838);
    border-radius: 0 0 12px 12px;
}

.card__title {
    align-self: stretch;
    color: var(--Grayscale-000, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card__text {
    align-self: stretch;
    color: var(--Grayscale-300, #D7DAE2);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.portfolio__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    width: 64px;
    height: 64px;
    border-radius: 100px;
    background: var(--Brand-Primary, #052838);
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__arrow--left {
    left: -32px;
}

.portfolio__arrow--right {
    right: -32px;
}

.portfolio__bottom {
    max-width: 1680px;
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
}

.portfolio__pagination {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-bottom: 40px;
}


.portfolio__button_div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.portfolio__button {
    margin-left: auto;
    align-self: self-end;
}

.portfolio__pagination-number {
    color: var(--Brand-Primary, #052838);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.portfolio__pagination-line {
    position: relative;
    width: 400px;
    height: 2px;
    background: #D7DAE2;
    transform: scaleY(1.2);
    transform-origin: center;
}

.portfolio__pagination-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 2px;
    background: #052838;
    transition: transform 0.4s ease;
}

.portfolio__pagination-line::before {
    width: calc(100% / var(--total-slides));
    transform: translateX(calc(100% * var(--slide-index)));
}

.cert {
    padding: 120px;
}

.cert__container {
    max-width: 1680px;
    margin: 0 auto;
}

.cert__head {

    margin-bottom: 60px;
}

.cert__title {
    margin: 0 0 20px;
    color: var(--Brand-Primary, #052838);

    /* H2 */
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 100% */
}

.cert__text {
    color: var(--Secondary, #375360);
    max-width: 700px;
    /* Body L */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.cert__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 60px;
}

.cert__card {
    position: relative;
    padding: 24px;
    border-radius: 12px;
    background: var(--Brand-Primary, #052838);
    color: #fff;

    width: 100%;
    height: 280px;

}

.cert__card-title {
    margin: 0 0 4px;
    color: var(--Grayscale-000, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    /* H4 */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cert__card-text {
    margin: 0 0 4px;
    color: var(--Grayscale-300, #D7DAE2);

    /* Body L */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.cert__year {
    display: block;

    color: var(--Grayscale-400, #999EAD);

    /* Body L */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.cert__badge {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #fff;
    border-radius: 8px;
    color: var(--Grayscale-300, #D7DAE2);

    /* Body L */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    position: absolute;
    left: 24px;
    bottom: 24px;
}

.cert__icon {
    position: absolute;
    right: 24px;
    bottom: 24px;
    width: 88px;
    height: 88px;

}

.cert__button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.partners {
    padding: 120px;
}

.partners__container {
    max-width: 1680px;
    margin: 0 auto;
}

.partners__head {
    max-width: 720px;
    margin-bottom: 60px;
}

.partners__title {
    margin: 0 0 20px;
    color: var(--Brand-Primary, #052838);

    /* H2 */
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 100% */
}

.partners__text {
    color: var(--Secondary, #375360);

    /* Body L */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.partners__image {
    display: block;
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.partners__content {
    display: flex;
    height: 208px;
    padding: 20px 24px 44px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    background: var(--Brand-Primary, #052838);
    ;
    color: #fff;
}

.partners__card-title {
    margin: 0 0 8px;
    color: var(--Grayscale-000, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;

    /* H3 */
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.partners__card-text {
    max-width: 760px;
    color: var(--Grayscale-300, #D7DAE2);

    /* Body XL */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.partners__slider {
    position: relative;

    overflow: visible;
}

.partners__viewport {
    overflow: hidden;
    width: 100%;
}

.partners__track {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.partners__card {
    min-width: 100%;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 12px;
}

.partners__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    width: 64px;
    height: 64px;
    border: none;
    border-radius: 100px;
    background: var(--Brand-Primary, #052838);

    display: flex;
    align-items: center;
    justify-content: center;
}

.partners__arrow--left {
    left: -32px;
}

.partners__arrow--right {
    right: -32px;
}

.partners__pagination-line {
    position: relative;
    width: 400px;
    height: 2px;
    background: #D7DAE2;
    transform: scaleY(1.2);
    transform-origin: center;
}

.partners .portfolio__pagination-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 33.333%;
    height: 2px;
    background: #052838;
    transition: transform 0.4s ease;
}

.faq {
    padding: 120px;
}

.faq__container {
    max-width: 1680px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.35fr;
    gap: 200px;
}

.faq__title {
    color: var(--Brand-Primary, #052838);
    font-family: Outfit;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}

.faq__item {
    padding: 32px 0;
    border-bottom: 1px solid var(--Grayscale-300, #D7DAE2);
}

.faq__question {
    list-style: none;
    position: relative;
    padding-right: 48px;

    color: var(--Brand-Primary, #052838);
    font-family: Outfit;
    font-size: 24px;
    font-weight: 600;
}

.faq__question::marker {
    display: none;
    content: "";
}

.faq__question::-webkit-details-marker {
    display: none;
}

.faq__question::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F2F4F7;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M14.7584 5.25853L13.575 4.0752L8.09171 9.55853L2.60838 4.0752L1.42505 5.25853L8.09171 11.9252L14.7584 5.25853Z' fill='%23052838'/%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;

    transition: 0.3s;
}

.faq__item[open] .faq__question::after {
    transform: translateY(-50%) rotate(180deg);
}

.faq__answer {
    margin-top: 24px;
    color: var(--Secondary, #375360);
    font-family: Outfit;
    font-size: 16px;
    line-height: 24px;
}

.cta {
    padding: 120px;
}

.cta__container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 140px;
    border-radius: 24px;
    background: var(--Brand-Primary, #052838);
}

.cta__content {
    max-width: 620px;
    color: #fff;
}

.cta__title {
    margin: 0 0 24px;
    color: var(--Grayscale-000, #FFF);

    /* H2 */
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 100% */
}

.cta__text {
    margin: 0 0 12px;
    color: var(--Grayscale-300, #D7DAE2);

    /* Body L */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.cta__form {
    margin: 28px 0 16px;
    display: flex;
    gap: 20px;
}

.cta__input {
    flex: 1;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--Secondary, #375360);
    background: transparent;
    color: #fff;
    gap: 8px;
}

.cta__input:hover {
    border-radius: 12px;
    border: 1px solid var(--Brand-Primary, #052838);
    background: var(--Brand-Hover, #0C3D54);
}

.cta__input:active {
    border-radius: 12px;
    border: 1px solid var(--Accent, #3F73FF);
}

.cta__input::placeholder {
    color: var(--Grayscale-400, #999EAD);

    /* Body L */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.cta__button {
    padding: 16px 24px;
    border-radius: 12px;
    gap: 12px;
    border: none;
    background-color: #ffffff;

    font-weight: 700;
    cursor: pointer;
    color: var(--Brand-Primary, #052838);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Subtitle */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

.cta__note {
    color: var(--Grayscale-400, #999EAD);
    /* Body S */
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    max-width: 484px;
    /* 133.333% */
}

.cta__image-wrapper {
    flex: 1;
}

.cta__image {
    width: 100%;

    height: 530px;
    object-fit: cover;
    border-radius: 10px;
}

.footer {
    margin: 0 auto;
    width: 100%;
    padding: 100px 120px 100px 120px;
    border-top: 1px solid #D7DAE2;
    overflow: hidden;
}

.footer__container {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footer__left {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}

.footer__logo {
    fill: var(--Brand-Primary, #052838);
    width: 152px;
    height: 24px;
}

.footer__copy {
    color: var(--Secondary, #375360);
    text-align: left;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: auto;
}

.footer__socials {
    display: flex;
    gap: 20px;
}

.footer__social {
    width: 24px;
    height: 24px;
    fill: var(--Brand-Primary, #052838);
}

.footer__social svg path {
    transition: fill 0.2s ease;
}

.footer__social:hover svg path {
    fill: #0C3D54;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 86px;
    row-gap: 24px;
    align-content: start;
}

.footer__link {
    display: block;
    color: var(--Secondary, #375360);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer__link:hover {
    color: var(--Brand-Primary, #052838);
}

.footer__form-block {
    display: flex;
    width: 100%;
    max-width: 590px;
    flex-direction: column;
    align-items: flex-start;
}

.footer__title {
    color: #052838;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
}

.footer__text {
    align-self: stretch;
    margin-top: 12px;
    margin-bottom: 20px;
    color: #375360;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer__form {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.footer__input {
    min-width: 0;
    flex: 1;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Grayscale-300, #D7DAE2);
    height: 44px;
}

.footer__input::placeholder {
    color: var(--Grayscale-400, #999EAD);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer__button {
    display: flex;
    height: 44px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: #052838;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
}

.footer__button,
.hero__button,
.header__phone,
.portfolio__arrow,
.partners__arrow {
    transition: background-color 0.2s ease;
    cursor: pointer;
}

/* Hover */
.footer__button:hover,
.hero__button:hover,
.header__phone:hover,
.portfolio__arrow:hover,
.partners__arrow:hover {
    background: var(--Brand-Hover, #0C3D54);
}

/* Pressed */
.footer__button:active,
.hero__button:active,
.header__phone:active,
.portfolio__arrow:active,
.partners__arrow:active {
    background: var(--Brand-Pressed, #041A24);
}

.card__content,
.cert__card,
.partners__content {
    transition: background-color 0.2s ease;
}

/* Hover */
.card__content:hover,
.cert__card:hover,
.partners__content:hover {
    background: var(--Brand-Hover, #0C3D54);
}

.footer__input {
    transition: 0.2s ease;
}

/* Hover */
.footer__input:hover {
    border: 1px solid var(--Brand-Primary, #052838);
    background: var(--Grayscale-100, #F7F8FA);
}

/* Focus */
.footer__input:focus {
    outline: none;
    border: 1px solid var(--Accent, #3F73FF);
    background: #FFF;
}

.header__burger {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    padding: 28px 16px 32px;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu__logo {
    color: #052838;
    font-size: 24px;
    font-weight: 700;
}

.mobile-menu__close {
    border: none;
    background: transparent;
    cursor: pointer;
}

.mobile-menu__nav {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.mobile-menu__link {
    color: var(--Secondary, #375360);
    font-feature-settings: 'liga' off, 'clig' off;
    /* H4 */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mobile-menu__phone {
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    border-radius: 12px;
    background: #052838;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: auto;
}

@media (max-width: 1024px) {

    .hero,
    .about,
    .portfolio,
    .cert,
    .partners,
    .faq,
    .cta,
    .footer {
        padding-left: 40px;
        padding-right: 40px;
    }


    .hero {
        min-height: 760px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 120px;
        background-size: 100%;
        background-position: right 0 top 0px;
    }

    .hero__content {
        width: 100%;
        max-width: 560px;
        margin-top: 180px;
        margin-bottom: 0;
    }

    .hero__title {
        font-size: 72px;
        line-height: 80px;
    }

    .hero__text {
        max-width: 520px;
    }

    .portfolio {
        overflow: visible;
    }

    .portfolio__slider {
        overflow: visible;
    }

    .portfolio__viewport {
        overflow: hidden;
        width: 100%;
    }

    .portfolio__track {
        display: flex;
        gap: 30px;
        width: auto;
        overflow: visible;
        transition: transform 0.5s ease;
    }

    .portfolio__card,
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        width: calc((100% - 30px) / 2);
        min-width: calc((100% - 30px) / 2);
        flex-shrink: 0;
    }

    .portfolio__pagination-line::before {
        width: calc(100% / var(--total-slides));
        transform: translateX(calc(100% * var(--slide-index)));
    }

    .cta__container {
        flex-direction: column;
        align-items: stretch;
        gap: 60px;
    }

    .cta__content {
        width: 100%;
        max-width: 100%;
    }

    .cta__image-wrapper {
        width: 100%;
    }

    .cta__image {
        width: 100%;
    }


    .about__container {
        flex-direction: column-reverse;
        align-items: stretch;
        gap: 60px;
    }

    .about__image-wrapper {
        width: 100%;
        flex: none;
    }

    .about__image {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .about__content {
        width: 100%;
    }

    .cert__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .faq__container {
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .footer__container {
        flex-direction: column;
        gap: 60px;
    }

    .footer__left {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__logo-wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer__copy {
        text-align: left;
        margin-top: 12px;
        margin-bottom: 0;
    }

    .footer__socials {
        margin-left: auto;
    }

    .footer__nav {
        width: 100%;
        grid-template-columns: repeat(5, max-content);
        justify-content: center;
        column-gap: 84px;
        row-gap: 24px;
    }

    .footer__form-block {
        width: 100%;
        max-width: 100%;
    }

    .footer__form {
        width: 100%;
    }

}

@media (max-width: 768px) {

    .about,
    .portfolio,
    .cert,
    .partners,
    .faq,
    .cta {
        display: flex;
        padding: 48px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        align-self: stretch;
    }

    .footer {
        display: flex;
        width: 100%;
        padding: 24px 16px 48px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .header__nav,
    .header__phone {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .hero {
        min-height: 852px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 247px;
        background-size: cover;
        background-position: center left;
        background-image: url("img/bgimage.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
    }

    .hero__content {
        max-width: 100%;

        margin-bottom: 0;
        align-items: center;
        text-align: center;
    }

    .hero__title {
        font-size: 52px;
        line-height: 60px;
        text-align: center;
    }

    .hero__text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 0;
    }

    .hero__button {
        width: 100%;
        margin-top: 40px;
    }

    .about__container,
    .portfolio__container,
    .cert__container,
    .partners__container,
    .faq__container,
    .cta__container,
    .footer__container {
        width: 100%;
    }

    .about__container,
    .cta__container {
        gap: 28px;
    }

    .about__image {
        height: 250px;
    }

    .about__title,
    .portfolio__title,
    .cert__title,
    .partners__title,
    .faq__title {
        color: var(--Brand-Primary, #052838);
        font-feature-settings: 'liga' off, 'clig' off;

        /* H3 */
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .about__paragraph {
        color: var(--Secondary, #375360);

        /* Body L */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .partners__card-text {
        color: var(--Grayscale-300, #D7DAE2);

        /* Body L */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .portfolio__head,
    .cert__head,
    .partners__head {
        margin-bottom: 0;
        gap: 20px;
    }

    .portfolio__container,
    .partners__container {
        display: flex;
        flex-direction: column;
    }

    .portfolio__top {
        order: 1;
    }

    .portfolio__bottom {
        margin-top: 0;
    }

    .portfolio__bottom-container,
    .portfolio__bottom-wrapper {
        order: 2;
        margin-bottom: 28px;
    }

    .portfolio__slider,
    .partners__slider {
        order: 3;
        overflow: hidden;

        width: 100%;
    }

    .portfolio__track {
        gap: 12px;
    }

    .portfolio__pagination,
    .portfolio__arrow,
    .partners__arrow {
        display: none;
    }

    .portfolio__button_div {
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .portfolio__track {
        overflow-x: auto;
        width: max-content;
        scrollbar-width: none;
    }

    .portfolio__track::-webkit-scrollbar {
        display: none;
    }

    .portfolio__card,
    .card1,
    .card2,
    .card3 {
        max-width: 94%;
        height: 420px;
        padding-top: 280px;
        flex-shrink: 0;
    }

    .cert {
        display: flex;
        flex-direction: column;
    }

    .cert__head {
        order: 1;
    }

    .cert__card-title {
        color: var(--Grayscale-000, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;

        /* H4 */
        font-family: Outfit;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .cert__card-text {
        color: var(--Grayscale-300, #D7DAE2);

        /* Body L */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .cert__grid-wrapper {
        display: flex;
        flex-direction: column;
    }

    .cert__button-wrapper {
        order: 1;
        width: 100%;
        margin-top: 0;
        margin-bottom: 28px;
    }

    .cert__button-wrapper .hero__button {
        width: 100%;
        margin-top: 40px;
    }

    .cert__grid {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        gap: 12px;
        margin-bottom: 0;
        order: 2;
    }

    .cert__grid::-webkit-scrollbar {
        display: none;
    }

    .cert__card {
        width: calc(100vw - 32px);
        min-width: 368px;
        height: 280px;
        border-radius: 12px;
    }

    .partners__viewport {
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;
    }

    .partners__viewport::-webkit-scrollbar {
        display: none;
    }

    .partners__track {
        display: flex;
        gap: 12px;
        width: max-content;
        transform: none;

    }

    .partners__card {
        width: 86vw;
        min-width: 86vw;
        height: auto;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 12px;
    }

    .partners__image {
        width: 100%;
        height: 240px;
        object-fit: cover;
        display: block;
    }

    .partners__content {
        min-height: 190px;
        padding: 20px 20px 28px;
        border-radius: 0 0 12px 12px;
    }

    .partners__card-title {
        color: var(--Grayscale-000, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;

        /* H4 */
        font-family: Outfit;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .partners__card-text {
        color: var(--Grayscale-300, #D7DAE2);

        /* Body L */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .faq__container {
        grid-template-columns: 1fr;
        gap: 28px;
    }

    .faq__item {
        padding: 20px 0;
    }

    .faq__question {
        color: var(--Brand-Primary, #052838);
        font-feature-settings: 'liga' off, 'clig' off;

        /* Subtitle */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 150% */
    }

    .faq__answer {
        color: var(--Secondary, #375360);

        /* Body L */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .cta__container {
        padding: 24px;
    }

    .cta__form,
    .footer__form {
        flex-direction: column;
    }

    .cta__image-wrapper {
        display: none;
    }

    .cta__title {
        color: var(--Grayscale-000, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;

        /* H3 */
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .cta__text {
        color: var(--Grayscale-300, #D7DAE2);

        /* Body L */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .cta__note {
        color: var(--Grayscale-400, #999EAD);

        /* Body S */
        font-family: Outfit;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 133.333% */
    }

    .footer__container {
        flex-direction: column;
        gap: 40px;
    }

    .footer__left {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__nav {
        grid-template-columns: repeat(2, max-content);
        justify-content: left;
        column-gap: 80px;
        row-gap: 24px;
    }

    .footer__form-block {
        width: 100%;
        max-width: 100%;
    }

    .footer__input,
    .footer__button {
        width: 100%;
    }

    .portfolio__viewport {
        width: 100%;
        overflow: visible;
    }

    .portfolio__track {
        display: flex;
        gap: 12px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        transform: none;
    }

    .portfolio__track::-webkit-scrollbar {
        display: none;
    }

    .portfolio__card,
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        width: calc(100vw - 32px);

        height: 420px;
        padding-top: 280px;
        flex-shrink: 0;

    }
}